.applycard{
   
    text-align: right;
    margin-top: 2rem;
    
}
.applycard-box{
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 6px;
    // margin-left: 30%;
    display: inline-block;
    
    .box{
        text-align: center;
        height: 45px;
        
       
    }
    .apply{
        cursor: pointer;
        padding-top: 7px;
        background-color: rgba(44, 204, 97, 0.904);
        border-radius: 0 0 5px 5px;
        color: white;
        font-weight: bold;
        font-size: 1.2rem;
    }
    .apply:hover{
        background-color: rgba(44, 204, 97, 0.733);
    }
    .avalaible{
        
        background-color: #eee;
        font-size: .9rem;
        padding-top: 12px;
        
    }
    .price{
        span{
            display: inline-block;
            margin-top: 25px;
            font-size: .8rem;
        }
    }
    .price-digit{
        span{
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    .bold{
        font-weight: bold;
        
    }
}