.gallery {
    width: 70%;
    // display: flex;
    // justify-content: space-between;
    margin: -5rem auto;
    margin-bottom: 3rem;
 

}

.gallery-photos {
    display: inline-block;
   
    .small-img {
        display: inline-block;
        width: 180px;
        height: 200px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        transition: all 300ms ease;
        margin-right: 1rem;
    }

    .small-img:hover {
        transform: scale(1.1);
        transition: all 300ms ease;
    }
}

.gallery-tour{
    background-color: #000;
    display: inline-block;
    margin-top: 6rem ;
    position: relative;
    padding: 2rem;
}