.housetype{
    background: rgba(70, 69, 69, 0.815);
    padding: .3rem 2rem;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    &:hover{
        background-color:rgba(70, 69, 69, 0.932) ;
        box-shadow: 1px 1px 10px rgba(56, 55, 55, 0.548);
        transform: all 300ms ease;
    }
    p{
        color: rgb(196, 189, 189);
        font-size: 1.2rem;
    }
}