.twophoto-holder {
    // background-color: #000;
    display: inline-block;
    width: 500px;
    height: 400px;
    margin: 1rem;
    text-align: center;

    .photo {
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;



        .photo_1 {
            width: 70%;
            height: 100%;

            // height: 350px;
           // width: 100%;
            // height: 300px ;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }

        .photo_2 {
            position: absolute;
            top: -53%;
            left: 55%;
            width: 35%;
            height: 250px;
            border-radius: 10px;
            background-size: cover;
            background-position: center;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.445);
        }
    }
}
@media only screen and (max-width: 720px){
.twophoto-holder{
    width: 95% !important;
    height: 300px;
    margin: 0 auto !important;
    .photo{
        .photo_1{
            width: 100% !important;
        }
        .photo_2{
            display: none;
        }
    }
}
}