.login-redirect{
    //background: #000;
    width: 30%;
    margin: 1rem auto;
    font-size: .8rem;
    color: rgb(61, 60, 60);
    .login-redirect-link{
        color: rgba(94, 34, 94, 0.822);
        margin: 0 1rem;
    }
}