.amenity-container{
    width: 65%;
    height: auto;
    background-color: #f4f5f7;
    margin: 2rem 0;
    display: flex;
    justify-content: flex-end;
}
.amenity-content {
    width: 80%;
    margin: 3rem 0;
    // background: rgb(158, 123, 123);
    .amenity-heading{
        font-size: 48px;
        color: #2e2d36;
    }
}

.amenities-box{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // background-color: #333;
    .amenity{
        margin: 1rem 0;
        display: flex;
        align-items: center;
        .amenity-icon{
            width: 19px;
            height: 19px;
            margin: 0 .5rem;
        }
        .amenity-text{
            font-size: 17px;
            color:#000;
        }
    }
}