.text-holder {
    width: 500px;
    height: 400px;

    color: white;
    .text {
        text-align: left;

        h2 {
            padding: 0;
            margin-bottom: 3rem;
            font-size: 3rem;
            color: white;
        }

        p {
            font-size: 1.1rem;
            margin: 1rem 0;
        }

        .learn-more-link {
            display: inline-block;
            margin: 2rem 0;
        }
        .learn-more-link:after{
            content: " ";
            display: block;
            height: 2px;
            width: 100%;
            background: rgb(255, 255, 255);
        }
    }
}

@media only screen and (max-width: 720px){
    .text-holder{
        width: 95% !important;
        margin: 0 auto !important;
        height: 300px !important;
        padding-bottom: 1rem;
        .text{
            // width: 93%;
            margin: 1rem auto;
            // text-align: center !important;
            h2{
                font-size: 1.2rem;
                margin-bottom: 1rem !important;
            }
            p{
                
                font-size: .9rem;
                // margin: 1rem !important;
            }
        }
    }
}