.boost-business-box{
    width: 100%;
    padding: 1rem 0;

    .boost-business{
        width: 50%;
        margin: 1rem auto;
        text-align: center;
        h3{
            color: rgb(53, 45, 45);;
            margin-bottom: 1.5rem;
            font-size: 1.5rem;
            text-transform: capitalize;
        }
        p{
            font-size: 1.1rem;
            color: rgb(107, 98, 98);
            letter-spacing: .3px;
        }
    }
}
@media only screen and (max-width: 600px){
    .boost-business{
        width:95% !important;
        h3{
            font-size: 1.2rem !important;
        }
        p{
            font-size: .9rem !important;
            
        }
    }
}