.category {
    padding: .5rem 2rem;
    border-right: 1px solid rgb(182, 178, 178);
    display: flex;
    flex-direction: column;
    .cat-link {
        color: rgb(165, 30, 165);
        font-weight: normal;
        font-size: .9rem;
        letter-spacing: .3px;
    }
}