.house-container{
    width: 100%;
    position: relative;
    margin: 5rem 0;
    
    .rent-ava-text{
        display: inline-block;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: 10rem;
    }
}
.house-box{
    width: 80%;
    margin: 0 auto;
    .houses{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 3rem 0 1rem 0;
       
    } 
}

@media screen and (max-width: 720px){
    .house-container{
        .rent-ava-text{
            margin-left: 3rem;
            font-size: 1.5rem;
            margin-bottom: 0;
        }
    }
    .house-box{
        width: 90%;
        .houses{
            justify-content: center;
            align-items: center;
        }
    }
}