.back-btn{
   z-index: 222;
    display: inline-block;
    background-color: white;
    padding: .6rem;
    border-radius: 50%;
    position: fixed;
    top: 5%;
    right: 5%;
    // background: #333;
    cursor: pointer;
    .svg-white{
        background-image: url(./../../images/svg/clear-white.svg);
        width: 24px;
        height: 24px;
        
       
        // background-size: cover;
     
 
    }
}
.back-btn:hover{
    box-shadow: 2px 2px 10px rgba(52, 52, 230, 0.342);
}


@media screen and (max-width: 720px){
    .back-btn{
        display: inline-block;
        top: 1%;
        left: 2%;
        right: 90%;
    }
}
