.main-navigation{
   position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
    overflow: hidden;
}
































































































// .main-navigation{
//     // width: 97%;
//     // margin: 0 auto;
//     background: rgb(202, 200, 200);
// }
// .main-navigation--box{
//     padding: 5px;
//     display: grid;
//     grid-template-columns: repeat(3, 1fr);
//     align-items: center;
//     justify-content: center;
//     .bars{
//         // background: rgb(238, 182, 182);
//         justify-content: start;


//         .humburger{
//             cursor: pointer;
//             font-size: 25px;
//             color: rgb(100, 96, 96);

//         }
//     }
//     .logo-box{
//        // background: lightcoral;
//         margin: 0 auto;
//         cursor: pointer;
//         span{
//             display: none;
//         }
//     }
//     .search-box{
//         // background: #3333337a;
//         display: flex;
//         justify-content: end;
//         .search{
//             cursor: pointer;
//             font-size: 25px;
//             color: rgb(100, 96, 96);
//         }
//     }
// }