.search-box {
    width: 98%;
    
    padding: 5px;
    margin: 0 2px;
    margin-top: -8px;
    border: 1px solid rgb(219, 218, 218);
}

.active-search {
    display: flex;
    flex: 1 3 1;

    .search-icon {

        padding: 5px 2px;

        .search {
            color: rgb(187, 182, 182);
            font-size: 15px;
            text-align: center;
        }
    }

    .input-box {
        width: 100%;


        input {
            // background: #eee;
            padding: 0 5px;
            // margin: 0;
            height: 100%;
            width: 100% !important;
            border: none;
        }

        input:focus {
            outline: none;
        }

        input::-moz-placeholder {
            font-size: .8rem;
            font-weight: bold;
        }

        input::placeholder {
            font-size: .8rem;
            font-weight: 500;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }

    .cut-box {
        padding: 6px 2px;

        .times {
            font-size: 20px;
            color: rgb(139, 134, 134);

        }

    }
}