.mobile-link {
    width: 100%;
    height: 10%;
    position: relative;
    text-decoration: none;
    color: rgb(168, 92, 168);
    
}

.mobile-navigation {
    position: relative;
    width: 100%;
    // height: 55px;
    display: none;
    .bars,
    .times,
    .search {
        font-size: 25px;
        color: rgb(168, 92, 168);
    }

    .nav-head {
        padding: 5px;
        display: grid;
        grid-template-columns: .3fr 2fr .3fr;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.nav-down-box {
 
    display: none;
    

    .nav-down {
        padding-bottom: 2rem;
        //background: rgb(252, 250, 250);
        height: 90vh;
        

        .list-property-box {
            display: flex;
            margin: 1rem;
            border: 1px solid orangered;
            border-radius: 5px;
            text-align: center;

            .list-property {
                display: inline-block;
                margin: .5rem auto;
                color: orangered;
            }
        }

        .rent-buy {
            margin: 1rem 1rem;
            display: flex;
            flex-direction: column;
            font-size: 1.2rem;

            .rent-link {
                margin-bottom: 1rem;
            }

        }

        .divider {
            height: 1px;
            background: rgb(160, 157, 157);
            margin: .5rem 1rem;
        }

        .login-sign-up {
            display: flex;
            flex-direction: column;
            margin: .5rem 1rem;
            font-size: 1.2rem;

            .login-link {
                margin: 1rem 0;
            }
        }
    }
}

.show {
    display: block;
    background-color: rgb(255, 255, 255);
    padding-top: 2rem;
    transition: display 300ms ease-in-out;

}


@media only screen and (max-width: 768px){
    .mobile-navigation{
        background-color: #f8f9fa;
        display: block;
        z-index: 777777;
        opacity: 1;
        margin-bottom: 0;
        padding-bottom: .2rem;
    }
}