.add-a-property-page {
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
}

.add-a-property-box {
    background-color: rgba(233, 229, 229, 0.342);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;

    .title {
        h1 {
            font-size: 3rem;
        }

        p {
            font-size: 1.2rem;
            color: gray;
        }
    }

}

.property-form-box {
    //  background-color: #000;
    display: flex;
    justify-content: space-around;

    .property-form {
        width: 50%;
        margin: 2rem 0;
        height: 400px;

        // background-color: red;
        .email-unit-box {
            display: flex;
            justify-content: space-between;

        }

        .menu-item-box {
            display: flex;

            .list-box {
                width: 45%;
                // background-color: rgb(117, 102, 102);
            }

            // .house-type{
            //     background-color: #333;
            // }
        }

        .continue-btn {
            width: 60%;
            margin: 0 auto;
        }
    }

    .other-info-box {
        margin: 2rem 0;
        width: 30%;
        // background-color: red;
    }
}

.feature-list-box {
    position: absolute;
    top: 750px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    // background: #eee;
}

.footer-box {
    position: absolute;
    top: 1000px;
    width: 100%;
}


@media screen and (max-width: 720px) {
    .add-a-property-box {
        margin-top: -2rem;
        .title {
            h1 {
                font-size: 1.7rem;
            }

            p {
                font-size: 1rem;
                margin-top: 1rem;
            }
        }
    }

    .property-form-box {
        flex-direction: column;

        .property-form {
            width: 90%;
            margin: 0 auto;

            .email-unit-box {
                // flex-direction: column;
                display: grid;
                grid-template-columns: 1fr;
                // background: #333;
                .e-c-box{
                    width: 100% !important;
                }
            }

            .menu-item-box {
                display: grid;
                grid-template-columns: 50% 50%;

                .list-box {
                    width: 85%;
                    // background-color: rgb(117, 102, 102);
                }

            }
        }
        .other-info-box{
            display: none;
        }
    }
    .feature-list-box{
       top: 850px;
       width: 90%;
    //    left: 80%;
       flex-direction: column;
    }
    .footer-box{
        top: 1500px !important;
    }
}