.feature-landlord {
    text-align: center;
     width: 25%;
    .feature-box {
        img {
            width: 50px;
            height: 60px;
        }
        h2{
            margin: .5rem 0;
            font-size: 20px;
        }
        p{
            font-size: .9rem;
        }
    }
}

@media screen and (max-width: 720px){
    .feature-landlord{
        width: 90%;
       .feature-box{
           margin: 1rem 0;
       }
    }
}