.money-info-box {
    width: 50%;
    height: 350px;
    margin: 0 auto;

    .money-info {
        box-shadow: 1px 1px 30px rgb(71, 69, 69);
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;

        .money-logo {
            width: 50%;
            margin: 1rem auto;
            img {
                width: 100px;
                height: 90px;
            }
        }
        .price-info{
            text-align: center;
            h3{
                margin: .5rem 0;
                color: white;
            }
            input{
                margin: .5rem 0;
                background: none;
                border: none;
                border-bottom: 1px solid white;
                padding: .3rem 0;
            }
            p{
                margin: .4rem 0;
                color: white;
            }
            .cur-info{
                color: rgb(235, 228, 228);
                font-size: .9rem;
            }
        }
    }
}