.brand-box {
    width: 25%;
    height: 100%;
    margin: auto;
    padding: 10px 5px;
   
    display: flex;
    justify-content: space-between;
    //filter: grayscale(100%);
    //align-items:center;
    // cursor: pointer;

    .brand {
        // background-color: #4444;
        padding: .2rem .5rem;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        img{
            height: 40px;
        }

    }
}

