.divider-email{
    width: 70%;
    margin: 1rem auto;
    .divider-part{
        display: flex;
        justify-content: space-between;

        .part{
            width: 30%;
            height: 1px;
            color: #eee;
            background: rgb(179, 176, 176);
            margin-top: 12px;
        }
        .part-2{
            font-size: .8rem;
            color: rgb(134, 131, 131);;
        }

    }
}