.footer-links{
    background-color: #000;
    display: flex;
    justify-content: space-between;
  
    .part{
        padding: 1rem 2rem;
        display: flex;
        flex-direction: column;
       
        a , P{
            font-size: .8rem;
            font-weight: normal;
            color: white;
        }
    }
    .part-3{
        .store-image{
            margin: 2rem 0;
            img{
                margin-right: .5rem;
            }
        }
    }

}
@media only screen and (max-width: 600px){
    .footer-links{
        display: grid !important;
        grid-template-columns: repeat(2, 140px);
    }
}