.tenants-landlord-box {
    width: 100%;
    margin: 2rem 0;
    position: relative;
    
   .tenant-landlord {

        cursor: pointer;
        width: 40%;
        height: 50px;
        position: sticky;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 22222;
        padding: .5rem 1rem;
        display: flex;
        justify-content: space-around;
        background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
        font-size: 1.4rem;
        border-radius: 30px;
        color: rgb(190, 183, 183);
        box-shadow: -1px 4px 20px 0px rgba(44, 43, 43, 0.507);

        .divider {
            height: 40px;
            width: 1px;
            background-color: rgb(146, 141, 141);
        }
    }

    .head-scrolled {
        -moz-box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 4px 20px 0px rgba(0, 0, 0, 0.404);
    }
}

.gradientTenants {
    background: linear-gradient(to right, #f836008e, #fe8c0077);

    .tenant-landlord {
        .tenant {
            color: white;
        }
    }

}

.gradientLandlord {

    background: linear-gradient(to right, #f55dbb9c, rgba(110, 22, 75, 0.596));
    .tenant-landlord {
        .landlord {
            color: white;
        }
    }

}

@media only screen and (max-width:720px ){
    .tenant-landlord{
        // display: none;
        width: 90% !important ;
        left: 5% !important;
        transform: translateX(0) !important;
        .tenant, .landlord{
            p{
                padding: .3rem 0;
                font-size: 1rem;
            }
        }
    }
}